<!DOCTYPE html>
<html lang="en">
   <head>
   <!-- basic -->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <!-- mobile metas -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="viewport" content="initial-scale=1, maximum-scale=1">
   <!-- site metas -->
   <title th:text="${SECTION.title}"></title>
   <meta name="keywords" th:content="${BASIC.keywords}">
   <meta name="description" th:content="${BASIC.description}">
   <meta name="author" content="">
   <!-- bootstrap css -->
   <link rel="stylesheet"  th:href="@{'/static/'+${TEMPLATE}+'/css/bootstrap.min.css'}">
   <!-- style css -->
   <link rel="stylesheet" th:href="@{'/static/'+${TEMPLATE}+'/css/style.css'}">
   <!-- Responsive-->
   <link rel="stylesheet"  th:href="@{'/static/'+${TEMPLATE}+'/css/responsive.css'}">
   <!-- fevicon -->
   <link rel="icon" th:href="@{'/static/'+${TEMPLATE}+'/images/fevicon.png'}" type="image/gif" />
   <!-- Scrollbar Custom CSS -->
   <link rel="stylesheet" th:href="@{'/static/'+${TEMPLATE}+'/css/jquery.mCustomScrollbar.min.css'}">
   <!-- Tweaks for older IEs-->
   <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
   <!--[if lt IE 9]>
   <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
   <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
   <!-- body -->
   <body class="main-layout inner_page">
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img th:src="@{'/static/'+${TEMPLATE}+'/images/loading.gif'}" alt="#"/></div>
      </div>
      <!-- end loader -->
      <!-- header -->
      <header>
         <!-- header inner -->
         <div class="header">
            <div class="container">
               <div class="row">
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                     <div class="full">
                        <div class="center-desk">
                           <div class="logo">
                              <a href="/"><img th:src="@{${BASIC.faviconLogo}}" alt="#" /></a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                     <nav class="navigation navbar navbar-expand-md navbar-dark ">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                           <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarsExample04">
                           <ul class="navbar-nav mr-auto">
                              <li class="nav-item " th:each="section:${SECTIONLIST}" th:classappend="${section.id eq SECTION.id}?'active':''" th:if="${#lists.contains(section.navPosition, '1')}">
                                 <a class="nav-link" th:href="@{${section.name}}" th:text="${section.title}"></a>
                              </li>
                           </ul>
                        </div>
                     </nav>
                  </div>
               </div>
            </div>
         </div>
      </header>
      <!-- end header inner -->
      <!-- end header -->
        <div class="back_re">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="title">
                      <h2 th:text="${SECTION.title}"></h2>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- blog -->
      <div  class="blog" th:style="${'background:url('+SECTION.background+')'}">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">

                     <p class="margin_0" th:text="${SECTION.remark}"></p>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-4" th:each="data:${DATALIST}">
                  <div class="blog_box">
                     <div class="blog_img">
                        <figure><img  th:src="@{${data.image}}"  alt="#"/></figure>
                     </div>
                     <div class="blog_room">
                        <h3 th:text="${data.title}"></h3>
                        <span th:text="${data.type}"></span>
                        <p th:text="${data.remark}"></p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end blog -->

      <!--  footer -->
      <footer>
         <div class="footer">
            <div class="container">
               <div class="row">
                  <th:block   th:each="section:${SECTIONLIST}" th:if="${#lists.contains(section.navPosition, '3')}">

                     <div class=" col-md-4" th:if="${section.template eq 'contact'}">
                        <h3 th:text="${section.title}"></h3>
                        <ul class="conta">
                           <th:block  th:each="child:${section.children}">
                              <li  th:if="${child.template eq 'address'}">
                                 <i class="fa fa-map-marker" aria-hidden="true">
                                 </i> [[${child.title}]]
                              </li>

                              <li th:if="${child.template eq 'phone'}">
                                 <i class="fa fa-mobile" aria-hidden="true" >
                                 </i> [[${child.title}]]
                              </li>

                              <li th:if="${child.template eq 'email'}">
                                 <i class="fa fa-envelope" aria-hidden="true" >
                                 </i> [[${child.title}]]
                              </li>
                           </th:block>
                        </ul>
                     </div>


                     <div class="col-md-4"  th:if="${section.template eq 'letter'}">
                        <h3>News letter</h3>
                        <form class="bottom_form">
                           <input class="enter" placeholder="Enter your email" type="text" name="Enter your email">
                           <button class="sub_btn">subscribe</button>
                        </form>
                        <ul class="social_icon">
                           <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                           <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                           <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                           <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                        </ul>
                     </div>

                  </th:block>

                  <div class="col-md-4" >
                     <h3>Menu Link</h3>
                     <ul class="link_menu" >
                        <li th:each="section:${SECTIONLIST}"  th:classappend="${section.id eq SECTION.id?'active':''}"><a th:href="@{${section.name}}" th:text="${section.title}"></a></li>
                     </ul>
                  </div>

               </div>
            </div>
            <div class="copyright">
               <div class="container">
                  <div class="row">
                     <div class="col-md-10 offset-md-1">
                        <p>Copyright &copy; 2022.Company name All rights reserved.<a target="_blank" href="https://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <!-- end footer -->
      <!-- Javascript files-->
      <script th:src="@{'/static/'+${TEMPLATE}+'/js/jquery.min.js'}"></script>
      <script th:src="@{'/static/'+${TEMPLATE}+'/js/bootstrap.bundle.min.js'}"></script>
      <script th:src="@{'/static/'+${TEMPLATE}+'/js/jquery-3.0.0.min.js'}"></script>
      <!-- sidebar -->
      <script th:src="@{'/static/'+${TEMPLATE}+'/js/jquery.mCustomScrollbar.concat.min.js'}"></script>
      <script th:src="@{'/static/'+${TEMPLATE}+'/js/custom.js'}"></script>
   </body>
</html>