<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport"
			content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>晶彩生活</title>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="css/swiper.min.css" />
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<link rel="stylesheet" type="text/css" href="css/component.css" />
	</head>

	<body>
		<!--header-->
		<header>

			<div class="wrap">
				<a href="index.html" class="logo"><img src="img/logo.png"></a>
				<a href="index.html" class="logo2"><img src="img/logo2.png"></a>
				<!--PC导航-->
				<div class="menu hideDiv">
					<ul>
						<li>
							<a href="about.html">关于我们</a>
						</li>
						<li>
							<a href="javascript:;">研发服务</a>
							<div class="down_list">
								<ul>
									<li><a href="jingxing.html"><span class="yf1"></span>晶型研究</a></li>
									<li><a href="jingxing_gy.html"><span class="yf2"></span>结晶工艺开发</a></li>
									<li><a href="jingxing_cf.html"><span class="yf3"></span>处方前研究</a></li>
									<li><a href="jingxing_jg.html"><span class="yf4"></span>结构确证</a></li>
									<li><a href="jingxing_lh.html"><span class="yf5"></span>理化分析</a></li>
									<div class="clearfix"></div>
								</ul>

							</div>
							<div class="nav_bg"></div>
						</li>
						<li>
							<a href="jishu.html">晶云学院</a>
							<!-- <div class="down_list">
								<ul>
									<li><a href="jishu.html"><span class="xy1"></span>技术文章</a></li>
									<li><a href="peixun.html"><span class="xy2"></span>培训资料</a></li>
									<li><a href="wenxian.html"><span class="xy3"></span>经典文献</a></li>
								</ul>
							</div>
							<div class="nav_bg"></div> -->
						</li>
						<li>
							<a href="javascript:;">公司新闻</a>
							<div class="down_list">
								<ul>
									<li><a href="news.html"><span class="xw1"></span>公司新闻</a></li>
									<li><a href="huodong.html"><span class="xw2"></span>公司活动</a></li>
								</ul>
							</div>
							<div class="nav_bg"></div>
						</li>
						<li>
							<a href="javascript:;">人才与发展</a>
							<div class="down_list">
								<ul>
									<li><a href="zhaopin.html"><span class="rc1"></span>人才招聘</a></li>
									<li><a href="shenghuo.html"><span class="rc2"></span>晶彩生活</a></li>
									<li><a href=""><span class="rc3"></span>投递简历</a></li>
								</ul>
							</div>
							<div class="nav_bg"></div>
						</li>
						<li>
							<a href="touzi.html">投资者关系</a>
						</li>
					</ul>
				</div>
				<!--PC导航结束-->
				<!--中英文切换-->
				<div class="language hideDiv">
					<a href="" class="active">中</a>
					<span>/</span>
					<a href="">En</a>
				</div>
				<!--中英文切换结束-->
				<!--手机端导航-->
				<!-- <button type="button" class="open"></button> -->
				<button id="dl-menu-button2" class="close" style="">Open Menu</button>
				<button id="dl-menu-button" class="opp">Open Menu</button>

				<div id="dl-menu" class="dl-menuwrapper">

					<!-- <button id="dl-menu-button">Open Menu</button> -->

					<ul class="dl-menu">

						<li><a href="index.html">首页</a></li>

						<li><a href="about.html">关于我们</a></li>

						<li><a href="javascript:;" class="nav">研发服务</a>
							<ul class="dl-submenu">

								<li class="dl-back"><a href="#"><img src="img/back.png">
										<p></p>
									</a></li>

								<li><a href="jingxing.html"><img src="img/nav1.png">晶型研究</a></li>
								<li><a href="jingxing_gy.html"><img src="img/nav2.png">结晶工艺开发</a></li>
								<li><a href="jingxing_cf.html"><img src="img/nav3.png">处方前研究</a></li>
								<li><a href="jingxing_jg.html"><img src="img/nav4.png">结构确证</a></li>
								<li><a href="jingxing_lh.html"><img src="img/nav5.png">理化分析</a></li>
								<div class="clearfix">

								</div>
							</ul>
						</li>

						<li><a href="jishu.html" class="nav">晶云学院</a>
							<!-- <ul class="dl-submenu">

								<li class="dl-back"><a href="#"><img src="img/back.png">
										<p></p>
									</a></li>

								<li><a href="jishu.html"><img src="img/nav8.png">技术文章</a></li>
								<li><a href="peixun.html"><img src="img/nav9.png">培训资料</a></li>
								<li><a href="wenxian.html"><img src="img/nav10.png">经典文献</a></li>

							</ul> -->
						</li>
						<li><a href="service.html" class="nav">公司新闻</a>
							<ul class="dl-submenu">

								<li class="dl-back"><a href="#"><img src="img/back.png">
										<p></p>
									</a></li>

								<li><a href="news.html"><img src="img/nav6.png">公司新闻</a></li>
								<li><a href="huodong.html"><img src="img/nav7.png">公司活动</a></li>

							</ul>
						</li>
						<li><a href="service.html" class="nav">人才与发展</a>
							<ul class="dl-submenu">

								<li class="dl-back"><a href="#"><img src="img/back.png">
										<p></p>
									</a></li>

								<li><a href="zhaopin.html"><img src="img/nav8.png">人才招聘</a></li>
								<li><a href="shenghuo.html"><img src="img/nav9.png">晶彩生活</a></li>
								<li><a href=""><img src="img/nav10.png">投递简历</a></li>
							</ul>
						</li>
						<li>
							<a href="touzi.html">投资者关系</a>
						</li>
					</ul>
					<!--中英文切换-->
					<div class="language2">
						<a href="" class="active">中</a>
						<span>/</span>
						<a href="">En</a>
					</div>
					<!--中英文切换结束-->
				</div>
				<!--手机端导航结束-->
			</div>
		</header>
		<!--header  end-->
		<!--banner内页-->
		<div class="banner_nei">
			<p class="banner_p">
				晶彩生活
			</p>

			<img src="img/shenghuo1.png" class="hideDiv">
			<img src="img/shenghuo_sj.png" class="showDiv">
		</div>
		<!--banner结束-->
		<!--二级导航-->
		<p class="nav_btn showDiv">晶彩生活<span class="arrow-bottom"></span></p>
		<div class="nav_nei" style="background: #f9f9f9; padding-top: 20px; margin-top: 0;">
		
			<ul>
				<li><a href="zhaopin.html">人才招聘<span></span></a></li>
				<li><a href="shenghuo.html" class="now">晶彩生活<span></span></a></li>
				<li><a href="">投递简历<span></span></a></li>
			</ul>
		</div>
		<!--二级导航结束-->
		<!--学习型组织-->
		<div class="xuexiDiv">
			<p class="title">学习型组织</p>
			<div class="content">
				<a href="shudan.html">
					<div class="imgDiv"><img src="img/shenghuo2.png"></div>
					<p>
						<span>中央读书帮</span>
						晶云是一个真正的学习型组织，一个有意义有意思的组织，绝世秘籍《结晶腾云四十二章经》助你允文
						允武，超越自我：日有所行，夜有所省，周有温故，月有知新，夏读三伏，冬练三九，日积月累，持之
						以恒，武功必有所得，高手终可练成。
					</p>
				</a>
			</div>
			<div class="content">
				<a href="">
					<div class="imgDiv"><img src="img/shenghuo3.png"></div>
					<p>
						<span>小型研讨会</span>
						学而时习之，不亦说乎。每季度我们将举办一次小型研讨会(R&D symposium)，同事间或切磋技术，或
						分享读书，或交流管理，亦或聆听外部嘉宾的技术报告、感受他们的人生经历，三人行必有吾师焉。我们
						不变的宗旨是“Enhance Learning and Improve Effectiveness”。
					</p>
				</a>
			</div>
			<div class="clearfix"></div>
		</div>
		<!--学习型组织结束-->
		<!--人才发展-->
		<div class="rencaiDiv">
			<p class="title">员工活动与福利</p>
			<!--上-->
			<div class="rencai_top">
				<div class="rc_content1">
					<div class="slide_up_div">
						<img src="img/shenghuo4.png" width="100%">
						<p class="biaoti2">员工大会</p>
						<div class="wenzi">
							<p>
								每年的员工大会上，向员工传递公司战略、业务布局与管理思路，分享最新组织架构及文化理念，引导员工持之以恒地践行诚信、极致、超越、创新的理念。
							</p>
						</div>
					</div>
				</div>
				<div class="rc_content2">
					<div class="slide_up_div">
						<img src="img/shenghuo5.png" width="100%">
						<p class="biaoti2">公司年会</p>
						<div class="wenzi">
							<p>
								这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介
								这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介
							</p>
						</div>
					</div>
				</div>
			</div>
			<!--end-->
			<!--下-->
			<div class="rencai_bott">
				<div class="rc_content7">
					<div class="slide_up_div">
						<img src="img/shenghuo6.png" width="100%">
						<p class="biaoti2">年度旅游</p>
						<div class="wenzi">
							<p>
								这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介
								这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介
							</p>
						</div>
					</div>
				</div>
				<div class="rc_content6">
					<div class="slide_up_div">
						<img src="img/shenghuo7.png" width="100%">
						<p class="biaoti2">健身活动</p>
						<div class="wenzi">
							<p>
								这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介
								这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介
							</p>
						</div>
					</div>
				</div>
				<div class="rc_content5">
					<div class="slide_up_div">
						<img src="img/shenghuo8.png" width="100%">
						<p class="biaoti2">晶羽杯</p>
						<div class="wenzi">
							<p>
								这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介
								这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介
							</p>
						</div>
					</div>
				</div>
			</div>
			<!--end-->
			<!--中-->
			<div class="rencai_center">
				<div class="rc_content2" style="width: 33.22%;">
					<div class="slide_up_div">
						<img src="img/shenghuo9.png" width="100%">
						<p class="biaoti2">迎新活动</p>
						<div class="wenzi">
							<p>
								这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介
								这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介
							</p>
						</div>
					</div>
				</div>
				<div class="rc_content4" style="width: 66.78%;">
					<div class="slide_up_div">
						<img src="img/shenghuo10.png" width="100%">
						<p class="biaoti2">节假日福利</p>
						<div class="wenzi">
							<p>
								这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介
								这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介
							</p>
						</div>
					</div>
				</div>
			</div>
			<!--end-->
			<div class="clearfix"></div>
		</div>
		<!--人才发展结束-->
		<!--foot-->
		<footer>
			<div class="wrap">
				<!--左侧logo-->
				<div class="logo_bott hideDiv">
					<img src="img/logo_bott.png">
				</div>
				<!--左侧logo结束-->
				<!--中间内容-->
				<div class="foor_center hideDiv">
					<!--底部导航-->
					<div class="nav_bott">
						<ul>
							<li><a href="about.html">关于我们</a></li>
							<li><a href="service.html">研发服务</a></li>
							<li><a href="xueyuan.html">晶云学院</a></li>
							<li><a href="news.html">新闻动态</a></li>
							<li><a href="rencai.html">人才与发展</a></li>
							<li><a href="touzi.html">投资者关系</a></li>
						</ul>
						<div class="clearfix"></div>
					</div>
					<!--底部导航结束-->
					<!--联系方式-->
					<div class="foot_contact">
						<p class="com_name">苏州晶云药物科技股份有限公司</p>
						<!--地址-->
						<div class="address contact">
							<img src="img/weizhi.png">
							<p>
								<span class="sp1">中国总部：</span>
								<span class="sp2">苏州工业园区星湖街218号生物医药产业园一期（原生物纳米园）B4-101</span>
							<div class="clearfix"></div>
							</p>
							<p>
								<span class="sp1">美国分部：</span>
								<span class="sp2">Suite 500-B, 3000 Eastpark Blvd, Cranbury,New Jersey 08512,
									USA</span>
							<div class="clearfix"></div>
							</p>
						</div>
						<!--地址结束-->
						<!--电话-->
						<div class="tel contact">
							<img src="img/tel.png">
							<p>
								<span class="sp1">座机：</span>
								<span class="sp2">0512-69566895</span>
							<div class="clearfix"></div>
							</p>
						</div>
						<!--电话结束-->
						<!--传真-->
						<div class="tel contact">
							<img src="img/chuanzhen.png">
							<p>
								<span class="sp1">传真：</span>
								<span class="sp2">051269561922</span>
							<div class="clearfix"></div>
							</p>
						</div>
						<!--传真结束-->
					</div>
					<!--联系方式及结束-->
					<!--业务咨询/求职招聘-->
					<div class="foot_center_fr">
						<div class="textDiv">
							<p class="title_p">业务咨询</p>
							<ul>
								<li>
									<span>周女士：</span>
									<p>
										<span>手机 189-3459-7531 </span>
										<span>座机 0512-69561921-807</span>
									</p>
								</li>
								<li>
									<span>高先生：</span>
									<p>
										<span>手机 189-3459-7529 </span>
										<span>座机 0512-69561921-812</span>
									</p>
								</li>
								<li>
									<span>邮箱：</span>
									<p>
										<span>collaboration@crystalpharmatech.com</span>
									</p>
								</li>
							</ul>
						</div>
						<div class="textDiv">
							<p class="title_p">求职招聘</p>
							<ul>
								<li>
									<span>程女士：</span>
									<p>
										<span>座机 0512-69561921-830</span>
									</p>
								</li>
								<li>
									<span>邮箱：</span>
									<p>
										<span>learner@crystalpharmatech.com</span>
									</p>
								</li>
							</ul>
						</div>
					</div>
					<!--业务咨询/求职招聘结束-->
				</div>
				<!--中间内容结束-->
				<!--右侧二维码-->
				<div class="qrcard">
					<p>关注我们</p>
					<img src="img/qrcard.png">
					<p>聚焦新药·关注晶型</p>
				</div>
				<!--右侧二维码结束-->
				<div class="clearfix"></div>
			</div>
			<!--版权-->
			<div class="banquan">
				版权所有：© 2021 苏州晶云药物科技股份有限公司 苏ICP备11027398号-2
			</div>
			<!--版权结束-->
		</footer>
	</body>
</html>
<script src="js/jquery.js" type="text/javascript" charset="utf-8"></script>
<script src="js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
<script src="js/swiper.min.js" type="text/javascript" charset="utf-8"></script>
<script src="js/script.js" type="text/javascript" charset="utf-8"></script>
<!--手机导航-->
<script src="js/modernizr.custom.js" type="text/javascript" charset="utf-8"></script>
<script src="js/jquery.dlmenu.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript">
	$(function() {

		$('#dl-menu').dlmenu();

	});
</script>

<script type="text/javascript">
	$(".dl-menu li .nav").click(function() {
		var data = $(this).html()
		console.log(data)
		// $(".dl-back").css({"background":"red"})
		$(".dl-back p").html(data)
	})
</script>
